<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicativoshow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicativoShow">
        <activity
            android:name=".SpinnerSwitchActivity"
            android:exported="false" />
        <activity
            android:name=".DeveloperGitHubActivity"
            android:exported="false" />
        <activity
            android:name=".CheckboxActivity"
            android:exported="false" />
        <activity
            android:name=".RadioWithToastActivity"
            android:exported="false" />
        <activity
            android:name=".RadioWithButtonActivity"
            android:exported="false" />
        <activity
            android:name=".DaoraActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalcActivity"
            android:exported="false" />
    </application>

</manifest>